<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raport de Performance </title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32 h-screen	content-center">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">

      
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
        <div class="max-w-xl lg:max-w-lg">
          <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Rapport de Performance</h1>
          <p class="mt-4 text-lg leading-8 text-gray-300">Time to First Byte (TTFB): <%= ttfb %> ms.</p>
        </div>
        
        <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">

          <div class="flex flex-col items-start">

            <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
              </svg>
            </div>
            <dt class="mt-4 font-semibold text-white">Attribues SEO</dt>
            <dd class="mt-2 leading-7 text-gray-400">Meta Description: <%= seoAttributes.metaDescription %>.</dd>
          </div>

           <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10"> 
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">Nombre de Tags</dt>
          <dd class="mt-2 leading-7 text-gray-400">H1 : <%= seoAttributes.h1 %><br>H2 : <%= seoAttributes.h2 %>
          <br>div : <%= seoAttributes.div %><br>p : <%= seoAttributes.p %></dd>

         </div>


          <div class="flex flex-col items-start">
            <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
              </svg>
              
            </div>
            <dt class="mt-4 font-semibold text-white">Images son Alt Text</dt>
            <dd class="mt-2 leading-7 text-gray-400"><%= seoAttributes.imagesWithoutAlt %></dd>
          </div>



          <div class="flex flex-col items-start">
            <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
              </svg>
              
            </div>
            <dt class="mt-4 font-semibold text-white">Lien non fonctionnel</dt>
            <dd class="mt-2 leading-7 text-gray-400"><% deadLinks.forEach(link => { %>
              <p class="mt-2 leading-7 text-gray-400"><%= link %></p>
            <% }) %></dd>
          </div>

        </dl>
        <div class="max-w-xl lg:max-w-lg">
          <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Informations SSL</h1>
         
          <p class="mt-4 text-lg leading-8 text-gray-300" ><strong>Validité :</strong> <%= sslInfo.valid ? 'Valide' : 'Non Valide' %></p>
          <p class="mt-4 text-lg leading-8 text-gray-300" ><strong>Expire le :</strong> <%= sslInfo.valid ? new Date(sslInfo.validTo).toLocaleDateString() : 'N/A' %></p>
          <p class="mt-4 text-lg leading-8 text-gray-300" ><strong>Délivré par :</strong> <%= sslInfo.issuer %></p>

        </div>
      </div>

    </div>
    <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
      <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</body>
</html>
